<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title>بلاگ</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="/static/temp/css/style.css" />
        <link rel="stylesheet" href="/static/temp/css/responsive.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="" class="advertisement">قیمت روز هر گرم طلا</a>
                <div class="container-fluid">
                    <div class="info">
                        <div class="child">
                            <ul>
                                <li>
                                    <a href=""><img src="/static/temp/images/bag.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/temp/images/like.svg" alt="" /></a>
                                </li>
                                <li>
                                    <button type="button"><img src="/static/temp/images/search.svg" alt="" /></button>
                                </li>
                            </ul>
                        </div>
                        <div class="child">
                            <a href="{% url 'products:blog' %}" class="logo"><img src="/static/temp/images/logo.svg" alt="" /></a>
                        </div>
                        <div class="child">
                            <ul>
                                <li>
                                    <a href=""><img src="/static/temp/images/bell.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/temp/images/user.svg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'products:collection' %}" class="nav-link"><span>ویترین</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:gallery' %}" class="nav-link"><span>گالری طلا</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:customize' %}" class="nav-link"><span>شخصی سازی</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:present' %}" class="nav-link"><span>گیفت کارت</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:item-blog' %}" class="nav-link"><span>بلاگ</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:story' %}" class="nav-link"><span>داستان ما</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'products:contact' %}" class="nav-link"><span>تماس با ما</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="blog">
            <div class="container">
                <div class="blog-guide">
                    <div class="guide">
                        <ul>
                            <li class="guide-item"><a href="">گالری طلا </a></li>
                            <li class="guide-item"><a href="">همه محصولت </a></li>
                            <li class="guide-item"><a href="">همه محصولت </a></li>
                            <li class="guide-item">کالکشن</li>
                        </ul>
                    </div>
                </div>
            </div>
            <section>
                <div class="blog-intro">
                    <div class="container">
                        <h3>عنوان</h3>
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                            متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.
                        </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-4">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.د.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                        می باشد، کتابهای زیادی در د.د.
                    </p>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="blog-post">
                        <div class="row align-items-center">
                            <div class="col-lg-6 order-lg-1 order-2">
                                <p class="text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.
                                </p>
                            </div>
                            <div class="col-lg-6 order-lg-1 order-1">
                                <img src="/static/temp/images/img.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-4">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.د.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                        می باشد، کتابهای زیادی در د.د.
                    </p>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="blog-post">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <img src="/static/temp/images/img.png" alt="" />
                            </div>
                            <div class="col-lg-6">
                                <p class="text">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                    کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container mt-4">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.د.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                        می باشد، کتابهای زیادی در د.د.
                    </p>
                </div>
            </section>
            <section>
                <div class="container mt-4">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.د.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                        می باشد، کتابهای زیادی در د.د.
                    </p>
                </div>
            </section>
            <section>
                <div class="container mt-4">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                        لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.د.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                        است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در لورم ایپسوم متن ساختگی با تولید
                        سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                        می باشد، کتابهای زیادی در د.د.
                    </p>
                </div>
            </section>
        </main>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="/static/temp/js/main.js"></script>
        <!-- /scripts -->
    </body>
</html>
