<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="theme-color" content="" />
        <!-- Title -->
        <title>گالری</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <!-- Theme CSS -->
        <link rel="stylesheet" href="/static/temp/css/style.css" />
        <link rel="stylesheet" href="/static/temp/css/responsive.css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="" class="advertisement">قیمت روز هر گرم طلا</a>
                <div class="container-fluid">
                    <div class="info">
                        <div class="child">
                            <ul>
                                <li>
                                    <a href=""><img src="/static/temp/images/bag.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/temp/images/like.svg" alt="" /></a>
                                </li>
                                <li>
                                    <button type="button"><img src="/static/temp/images/search.svg" alt="" /></button>
                                </li>
                            </ul>
                        </div>
                        <div class="child">
                            <a href="" class="logo"><img src="/static/temp/images/logo.svg" alt="" /></a>
                        </div>
                        <div class="child">
                            <ul>
                                <li>
                                    <a href=""><img src="/static/temp/images/bell.svg" alt="" /></a>
                                </li>
                                <li>
                                    <a href=""><img src="/static/temp/images/user.svg" alt="" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>ویترین</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>گالری طلا</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>شخصی سازی</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>گیفت کارت</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>بلاگ</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>داستان ما</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link"><span>تماس با ما</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="gallery">
            <section>
                <div class="subject">
                    <img src="/static/temp/images/Rectangle 11.png" alt="" class="subject-img" />
                    <div class="container">
                        <div class="subject-text text-center">
                            <h1>به سبک جدید انتخاب کن</h1>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="guide">
                        <ul>
                            <li class="guide-item"><a href="">گالری طلا </a></li>
                            <li class="guide-item"><a href="">همه محصولت </a></li>
                            <li class="guide-item">کالکشن</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="info-section">
                        <div class="row">
                            <div class="col-lg 6">
                                <img src="/static/temp/images/gallery-img.png" alt="" />
                            </div>
                            <div class="col-lg 6 mt-auto mb-auto">
                                <span>به سبک ...</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است،</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="details-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 mt-auto mb-auto">
                                <div class="detail-item">
                                    <span>لورم ایپسوم متن ساختگی با تولید سادگیر</span>
                                    <p>هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی بلکه روزنامه و مجله در ستون و سطرآنچنان که لزم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با</p>
                                    <ul>
                                        <li class="detail-items">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان که لزم است</li>
                                        <li class="detail-items">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان که لزم است</li>
                                        <li class="detail-items">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان که لزم است</li>
                                        <li class="detail-items">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان که لزم است</li>
                                    </ul>
                                    <span>لورم ایپسوم متن ساختگی با تولید سادگیر</span>
                                    <p>هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی بلکه روزنامه و مجله در ستون و سطرآنچنان که لزم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با</p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <img src="/static/temp/images/detail.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="gallery-icon text-center">
                        <div class="row">
                            <div class="col-lg-3">
                                <img src="/static/temp/images/Vector (1).png" alt="" />
                                <h5>لورم ایپسوم</h5>
                                <span class="information-text"> که لزم است نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان </span>
                            </div>
                            <div class="col-lg-3">
                                <img src="/static/temp/images/Vector (1).png" alt="" />
                                <h5>لورم ایپسوم</h5>
                                <span class="information-text"> که لزم است نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان </span>
                            </div>
                            <div class="col-lg-3">
                                <img src="/static/temp/images/Vector (1).png" alt="" />
                                <h5>لورم ایپسوم</h5>
                                <span class="information-text"> که لزم است نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان </span>
                            </div>
                            <div class="col-lg-3">
                                <img src="/static/temp/images/Vector (1).png" alt="" />
                                <h5>لورم ایپسوم</h5>
                                <span class="information-text"> که لزم است نامفهوم از صنعت چاپ، و با ستون و سطرآنچنان </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="slider-section text-center">
                    <div class="slider-btn">
                        <a href="" class="icon">
                            <img src="/static/temp/images/next-icon.png" alt="" />
                        </a>
                        <span>سبک های دیگر</span>
                        <a href="" class="icon">
                            <img src="/static/temp/images/p-icon.png" alt="" />
                        </a>
                    </div>
                </div>
            </section>
            <section>
                <div class="explain me-auto ms-auto">
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
                        متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در د.
                    </p>
                </div>
            </section>
            <section>
                <div class="bottom-subject">
                    <img src="/static/temp/images/bottom-img.png" alt="" class="bottom-subject-img" />
                </div>
            </section>
        </main>
        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="/static/temp/js/main.js"></script>
        <!-- /scripts -->
    </body>
</html>
