.btn {
  font-size: 0.95rem;
  box-shadow: none !important;
  outline: none !important;
  padding: 0.5rem 0.75rem;
}
.btn-primary {
  background-color: transparent;
  color: $secondery-color;
  font-weight: 700;
  border: 0.125rem solid $secondery-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $secondery-color;
    color: #fff;
    border: 0.125rem solid $secondery-color;
  }
}
.btn-buy {
  background: #3f3f3f;
  font-size: 14px;
  border-radius: 0;
  color: #fff;
  padding: 8px 11px;
  img {
    width: 7px;
    margin-right: 5px;
    vertical-align: middle;
    filter: brightness(0) invert(1);
  }
  &:hover {
    background: #292929;
    color: #fff;
  }
}
