header {
  border-bottom: 1px solid #b3c0b84a;
  .mobile-menu {
    display: none !important;
  }
  .advertisement {
    display: block;
    background-color: $H-text-color;
    color: #fff;
    padding: 8px;
    text-align: center;
    &:hover {
      background-color: $H-text-color-hover;
    }
  }
  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0 20px;
    .child {
      width: calc(100% / 3);
      ul {
        li {
          display: inline-block;
        }
        .bag {
          position: relative;
          .count {
            position: absolute;
            right: -10px;
            top: -8px;
            display: inline-block;
            background: #d1b588;
            color: #fff;
            min-width: 15px;
            height: 15px;
            font-size: 13px;
            border-radius: 6px;
            text-align: center;
            padding-top: 2px;
          }
          .sub-menu {
            visibility: hidden;
            opacity: 0;
            transform: translateY(10px);
            position: absolute;
            top: 100%;
            right: 0;
            width: 380px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 21px;
            z-index: 1002;
            background: #fff;
            padding: 20px;
            .show-bag {
              color: #90a08c;
              img {
                width: 8px;
                vertical-align: middle;
              }
              &:hover {
                color: #778374;
              }
            }
            ul {
              margin-top: 15px;
              height: 350px;
              overflow-x: hidden;
              overflow-y: auto;
              scrollbar-color: #bbbcc1 #f1f1f1;
              scrollbar-width: thin;
              &::-webkit-scrollbar {
                width: 9px;
                height: 10px;
              }

              &::-webkit-scrollbar-track {
                background: #fff;
                border: 1px solid #d6d6d6;
              }

              &::-webkit-scrollbar-thumb {
                background: #3f3f3f5a;
                border-radius: 0;
                border: 1px solid #d7e6dc;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: #929398;
              }
              li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                &:last-child {
                  margin: 0;
                }
                div {
                  &:nth-child(1) {
                    width: 35%;
                    img {
                      width: 100%;
                    }
                  }
                  &:nth-child(2) {
                    width: 65%;
                    padding-right: 12px;
                    h5 {
                      font-family: $font;
                      font-size: 15px;
                      color: $H-text-color;
                    }
                    span {
                      display: block;
                      margin: 15px 0;
                    }
                    .price {
                      color: #90a08c;
                      font-size: 1.1rem;
                      span {
                        font-family: $font-bold;
                        display: inline-block;
                        color: #000;
                        margin: 0 2px 0 0;
                      }
                    }
                  }
                }
              }
            }
            .final-price {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .price {
                color: #90a08c;
                font-size: 1.1rem;
                span {
                  font-family: $font-bold;
                  display: inline-block;
                  color: #000;
                  margin: 0 5px 0 0;
                }
              }
            }
          }
          &:hover {
            .sub-menu {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        .user {
          position: relative;
          .user-info {
            position: absolute;
            width: 300px;
            left: 0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 21px;
            z-index: 1002;
            background: #fff;
            text-align: right;
            padding: 15px;
            visibility: hidden;
            opacity: 0;
            transform: translateY(10px);
            .flex {
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              div {
                span {
                  &:nth-child(1) {
                    display: block;
                    font-family: $font-bold;
                    color: #3f3f3f;
                    font-size: 1.2rem;
                  }
                  &:nth-child(2) {
                    display: block;
                    font-family: $font-bold;
                    color: $H-text-color;
                    font-size: 1rem;
                    margin-top: 6px;
                  }
                }
              }
            }
            .buttons {
              margin-top: 20px;
              text-align: center;
              a {
                display: inline-block;
                margin: 4px;
              }
              .btn-green {
                background: $H-text-color;
                border-radius: 8px;
                padding: 8px;
                color: #fff;
                &:hover {
                  background: $H-text-color-hover;
                }
              }
              .btn-black {
                background: #3f3f3f;
                border-radius: 8px;
                padding: 8px 12px;
                color: #fff;
                &:hover {
                  background: #1e1e1e;
                }
              }
            }
          }
          &:hover {
            .user-info {
              visibility: visible;
              opacity: 1;
              transform: translateY(0px);
            }
          }
        }
        .guest {
          position: relative;
          top: -5px;
          display: inline-block;
          vertical-align: text-top;
          ul {
            li {
              &:nth-child(1) {
                position: relative;
                &::after {
                  content: "";
                  display: inline-block;
                  position: absolute;
                  left: -9px;
                  width: 1.5px;
                  height: 15px;
                  background: #3f3f3f;
                }
              }
              a {
                font-family: $font-bold;
                color: #3f3f3f;
              }
            }
          }
        }
        .bell {
          position: relative;
          .main {
            display: block;
            img {
              width: 22px;
            }
            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 12px;
              height: 12px;
              background: #d1b588;
              top: -2px;
              right: -4px;
              border-radius: 50%;
            }
          }
          .bell-info {
            visibility: hidden;
            opacity: 0;
            transform: translateY(10px);
            position: absolute;
            top: 100%;
            left: 0;
            width: 380px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 21px;
            z-index: 1002;
            background: #fff;
            padding: 10px;
            ul {
              height: 250px;
              padding: 10px;
              overflow-x: hidden;
              overflow-y: auto;
              scrollbar-color: #bbbcc1 #f1f1f1;
              scrollbar-width: thin;
              &::-webkit-scrollbar {
                width: 9px;
                height: 10px;
              }

              &::-webkit-scrollbar-track {
                background: #fff;
                border: 1px solid #d6d6d6;
              }

              &::-webkit-scrollbar-thumb {
                background: #3f3f3f5a;
                border-radius: 0;
                border: 1px solid #d7e6dc;
              }

              &::-webkit-scrollbar-thumb:hover {
                background: #929398;
              }
              li {
                width: 100%;
                display: block;
                text-align: right;
                margin: 0;
                padding-bottom: 15px;
                margin-bottom: 15px;
                border-bottom: 0.5px solid #000000;
                &:last-child {
                  padding-bottom: 0;
                  margin-bottom: 0;
                  border-bottom: none;
                }
                a {
                  color: #878787;
                  &:hover {
                    color: #616161;
                  }
                }
              }
            }
          }
          &:hover {
            .bell-info {
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
      }
      &:nth-child(1) {
        text-align: right;
        ul {
          li {
            margin-left: 15px;
          }
        }
      }
      &:nth-child(2) {
        text-align: center;
      }
      &:nth-child(3) {
        text-align: left;
        ul {
          li {
            margin-right: 15px;
          }
        }
      }
    }
    .logo {
      img {
        width: 220px;
      }
    }
  }
  .navbar-nav {
    display: block;
    width: 100%;
    text-align: center;
    .nav-item {
      display: inline-block;
      .nav-link {
        position: relative;
        display: inline-block;
        padding: 0 10px 10px;
        color: #d1b588;
        z-index: 1001;
        span {
          position: relative;
          top: 0;
          transition: all 0.3s ease-in-out;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -1px;
          right: 0;
          left: 0;
          background: $H-text-color;
          width: 0;
          height: 2px;
          margin: 0 auto;
          border-radius: 20px;
          transition: width 0.3s ease-in-out;
        }
        &.active {
          font-family: $font-bold;
          color: $H-text-color;
          span {
            top: -4px;
          }
          &::after {
            width: 100%;
          }
        }
        &:hover {
          font-family: $font-bold;
          color: $H-text-color;
          span {
            top: -4px;
          }
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  .mega-menu {
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    &.show-mega-menu {
      opacity: 1;
      visibility: visible;
    }
    .see-more {
      color: #90a08c;
      img {
        width: 8px;
        margin-right: 5px;
        vertical-align: middle;
      }
      &:hover {
        color: #778374;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 2px solid #b3c0b850;
      li {
        position: relative;
        padding: 5px;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          left: -40%;
          border-left: 1px solid #b3c0b850;
          height: 100%;
          top: 0;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
        a {
          display: inline-block;
          position: relative;
          color: #d1b588;
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -18px;
            right: 0;
            left: 0;
            background: $H-text-color;
            width: 0;
            height: 3px;
            margin: 0 auto;
            border-radius: 20px;
            transition: width 0.3s ease-in-out;
          }
          &.mega-link-active {
            color: $H-text-color;
            &::after {
              width: 100%;
            }
          }
          &:hover {
            color: $H-text-color;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .box {
      display: none;
      .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
        p {
          color: $H-text-color;
          margin-top: 15px;
        }
        ul {
          display: flex;
          padding: 0;
          flex-wrap: wrap;
          text-align: center;
          border: none;
          li {
            width: 50%;
            margin: 12px 0;
            &::after {
              display: none;
            }
          }
        }
        .child {
          width: 50%;
          &:nth-child(2) {
            display: flex;
            div {
              img {
                width: 100%;
                padding: 9px;
              }
              &:nth-child(1) {
                width: 37%;
              }
              &:nth-child(2) {
                width: 63%;
              }
            }
          }
        }
      }
    }
  }
  .mega-menu2 {
    background: #fff;
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    &.show-mega-menu {
      opacity: 1;
      visibility: visible;
    }
    .see-more {
      color: #90a08c;
      img {
        width: 8px;
        margin-right: 5px;
        vertical-align: middle;
      }
      &:hover {
        color: #778374;
      }
    }
    ul {
      display: inline-flex;
      align-items: center;
      padding-bottom: 8px;
      border-bottom: 2px solid #b3c0b850;
      li {
        position: relative;
        padding: 5px 10px;
        a {
          display: inline-block;
          position: relative;
          color: #d1b588;
          &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -15px;
            right: 0;
            left: 0;
            background: $H-text-color;
            width: 0;
            height: 3px;
            margin: 0 auto;
            border-radius: 20px;
            transition: width 0.3s ease-in-out;
          }
          &.mega-link-active {
            color: $H-text-color;
            &::after {
              width: 100%;
            }
          }
          &:hover {
            color: $H-text-color;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .box {
      display: none;
      .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 20px;
        p {
          color: $H-text-color;
          margin-top: 15px;
        }
        a {
          display: inline-block;
          margin-top: 15px;
          button {
            color: #90a08c;
          }
          svg {
            margin-right: 4px;
          }
        }
        .child {
          width: 50%;
          &:nth-child(2) {
            display: flex;
            div {
              img {
                width: 100%;
                padding: 9px;
              }
              &:nth-child(1) {
                width: 37%;
              }
              &:nth-child(2) {
                width: 63%;
              }
            }
          }
        }
      }
    }
  }
  .search-box {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 30px 0;
    z-index: 10000;
    transition: all 0.6s;
    &.search-active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }
    .parent {
      width: 700px;
      margin: 0 auto;
      .input-group {
        position: relative;
        img {
          position: absolute;
          right: 15px;
          top: 13px;
          z-index: 100;
          width: 26px;
        }
        input {
          background: #f6f7f6;
          border: none;
          padding: 15px 50px 15px 15px;
          border-radius: 7px !important;
          box-shadow: none !important;
        }
        .btn {
          position: relative;
          background: #90a08c;
          border-radius: 0 !important;
          color: #fff;
          font-size: 18px;
          margin-right: 15px;
          padding: 0.5rem 20px;
          border: none;
          z-index: 2;
          &:hover {
            background: #727e6f;
          }
        }
      }
    }
    #close-search {
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 20px;
      img {
        width: 20px;
      }
    }
    ul {
      max-height: 78vh;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-color: #bbbcc1 #f1f1f1;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: 9px;
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #fff;
        border: 1px solid #d6d6d6;
      }

      &::-webkit-scrollbar-thumb {
        background: #3f3f3f5a;
        border-radius: 0;
        border: 1px solid #d7e6dc;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #929398;
      }
      li {
        display: flex;
        list-style: none;
        margin-bottom: 30px;
        a {
          display: inline-block;
          vertical-align: middle;
          img {
            width: 90px;
          }
        }
        div {
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
          h4 {
            font-size: 19px;
            margin-bottom: 20px;
            a {
              color: #000;
            }
          }
          span {
            color: #d1b588;
          }
        }
      }
    }
  }
}
