//Fonts
$font: "yekan";
$font-bold: "yekan-bold";
//Colors
$primary-color: #eeefed;
$secondery-color: #3f3f3f;
$H-text-color: #90a08c;
$H-text-color-hover: #798676;
$bg-color: #baccb6;
$gallery-bg-color: #f4f4f1;
$story-box: #fbfbfa;
$panel-border: #878787;
$panel-text: #d9d9d9;
$top-panel-border: #c1c1c1;
