.blog {
  .blog-guide {
    display: none;
    .guide {
      margin: 30px 0;
      margin-bottom: -30px;
      .guide-item {
        list-style: none;
        display: inline-block;
        color: $bg-color;
        &::after {
          content: "/";
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
        a {
          color: $bg-color;
          display: inline-block;
        }
      }
    }
  }
  section {
    margin-top: 60px;
    &:first-child {
      margin: 0;
    }
    &:last-child {
      margin-bottom: 50px;
    }
    p {
      font-size: 15px;
      color: $secondery-color;
      display: block;
      text-align: justify;
    }

    .blog-intro {
      padding: 160px 0 120px;
      background-image: url("../images/img.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      h3 {
        margin: 0 0 30px;
        color: $secondery-color;
      }
      p {
        width: 500px;
      }
    }

    .blog-post {
      img {
        width: 100%;
      }
    }
  }
}
