.btn {
  font-size: 0.95rem;
  box-shadow: none !important;
  outline: none !important;
  padding: 0.5rem 0.75rem;
}
.btn-primary {
  background-color: transparent;
  color: $secondery-color;
  font-weight: 700;
  border: 0.125rem solid $secondery-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $secondery-color;
    color: #fff;
    border: 0.125rem solid $secondery-color;
  }
}
