.customize {
  section {
    margin: 0 0 70px;
    .guide {
      margin-top: 100px;
      margin-bottom: -50px;
      .guide-item {
        list-style: none;
        display: inline-block;
        color: $bg-color;
        &::after {
          content: "/";
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
        a {
          color: $bg-color;
          display: inline-block;
        }
      }
    }
    .mobile-guide {
      display: none;
      margin-top: 100px;
      margin-bottom: -50px;
      .guide-item {
        list-style: none;
        display: inline-block;
        color: $bg-color;
        &::after {
          content: "/";
        }
        &:last-child {
          &::after {
            content: "";
          }
        }
        a {
          color: $bg-color;
          display: inline-block;
        }
      }
    }
    .mobile-subject-items {
      display: none;
      margin: 0 auto;
      width: 500px;

      h1 {
        color: $H-text-color;
        margin-bottom: 25px;
        padding-top: 120px;
      }
    }
    .colections {
      position: relative;
      width: 85%;
      margin: 0 auto;
      top: 100px;
      padding-bottom: 60px;
      .center-line {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
      .rectangle-1 {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 185px;
      }
      .rectangle-2 {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 585px;
      }
      .rectangle-3 {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 1085px;
      }
      .rectangle-4 {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 1595px;
      }
      .rectangle-5 {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 2095px;
      }
      .colection-item {
        p {
          width: 43%;
          text-align: right;
          &.otherside-text {
            margin-left: 0;
            margin-right: auto;
          }
        }
        .colection-img {
          margin-bottom: 35px;
        }
        .box-2 {
          margin-top: -80px;
        }
        .box-3 {
          margin-top: -80px;
        }
        .box-4 {
          margin-top: -80px;
        }
        .box-5 {
          margin-top: -50px;
        }
      }
      video {
        width: 100%;
        height: 500px;
        border-radius: 30px;
      }
      .icon {
        position: absolute;
        bottom: 205px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 10%;
      }
      .information-text {
        display: block;
        margin: 50px auto 0;
        color: $H-text-color;
        width: 70%;
      }
      h5 {
        margin-top: 50px;
        color: $primary-color;
      }
    }
    &.subject {
      padding: 0 0 120px;
      position: relative;
      .subject-img {
        width: 100%;
        position: absolute;
        z-index: -1;
      }
      .subject-item {
        width: 40%;
        h3 {
          margin: 30px 0;
          color: $secondery-color;
        }
      }
      .subject-items {
        margin: 0 auto;
        width: 500px;

        h1 {
          color: $H-text-color;
          margin-bottom: 25px;
          padding-top: 120px;
        }
      }
    }
    .order-section {
      margin-top: 100px;
      .price-img {
        width: 100%;
      }
      .price-item {
        list-style: none;
        border-bottom: 1px solid $bg-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px 0;
        .input-group {
          align-items: center;
          justify-content: right;
          span {
            margin-right: 25px;
          }
          .input-group-text {
            background-color: transparent;
            border: none;
            border-radius: 0;
            .form-check-input {
              cursor: pointer;
              border-radius: 0;
              width: 1.2em;
              height: 1.2em;
              &:focus {
                box-shadow: none;
              }
              &:checked {
                background-color: $secondery-color;
                border-color: $secondery-color;
              }
            }
          }
        }
        img {
          margin-bottom: 18px;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      .free-order-btn {
        background-color: $secondery-color;
        display: block;
        width: 100%;
        padding: 22px 0;
        position: relative;
        color: #fff;
        text-align: center;
        margin-top: 70px;
        &:hover {
          background-color: rgba(0, 0, 0, 0.834);
        }
        img {
          position: absolute;
          left: 35px;
          bottom: 13px;
        }
      }
      .contact {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 80px;
        span {
          display: block;
          &.text {
            margin: 20px 0;
          }
        }
      }
    }
    .bottom-subject {
      position: relative;
      .bottom-subject-img {
        width: 100%;
        position: absolute;
        z-index: -1;
      }
      .subject-items {
        width: 45%;
        h2 {
          color: $H-text-color;
          padding: 130px 0 40px;
        }
        p {
          text-align: justify;
        }
      }
    }
  }
}
