//Fonts
$font : 'yekan' ;
$font-bold : 'yekan-bold' ;
//Colors
$primary-color : #EEEFED ;
$secondery-color : #3F3F3F ;
$H-text-color : #90A08C ;
$H-text-color-hover : #798676 ;
$bg-color : #BACCB6 ;
$gallery-bg-color : #F4F4F1 ;
$story-box : #FBFBFA ;

