@font-face {
  font-family: "yekan";
  src: url("../fonts/Yekan_Bakh_Regular.woff") format("woff");
}

@font-face {
  font-family: "yekan-bold";
  src: url("../fonts/Yekan_Bakh_Bold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

@-webkit-keyframes slider {
  0% {
    stroke-dasharray: 0,100;
  }
  100% {
    stroke-dasharray: 100,100;
  }
}

@keyframes slider {
  0% {
    stroke-dasharray: 0,100;
  }
  100% {
    stroke-dasharray: 100,100;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p {
  line-height: 1.6875rem;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 0.0625rem dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  max-width: 100%;
  border-color: #c0c0c0;
  border-width: 0.0625rem;
  margin: 1.875rem auto;
  display: block;
}

input,
select {
  vertical-align: middle;
}

:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "yekan-bold";
}

button {
  background-color: transparent;
  border: none;
  padding: none;
  margin: none;
  width: auto;
  height: auto;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

body {
  direction: rtl;
  font-family: "yekan";
  font-size: 0.95rem;
}

.btn {
  font-size: 0.95rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  padding: 0.5rem 0.75rem;
}

.btn-primary {
  background-color: transparent;
  color: #3F3F3F;
  font-weight: 700;
  border: 0.125rem solid #3F3F3F;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #3F3F3F;
  color: #fff;
  border: 0.125rem solid #3F3F3F;
}

header {
  border-bottom: 1px solid #b3c0b84a;
}

header .advertisement {
  display: block;
  background-color: #90A08C;
  color: #fff;
  padding: 8px;
  text-align: center;
}

header .advertisement:hover {
  background-color: #798676;
}

header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 25px 0 20px;
}

header .info .child {
  width: calc(100% / 3);
}

header .info .child ul li {
  display: inline-block;
}

header .info .child:nth-child(1) {
  text-align: right;
}

header .info .child:nth-child(1) ul li {
  margin-left: 10px;
}

header .info .child:nth-child(2) {
  text-align: center;
}

header .info .child:nth-child(3) {
  text-align: left;
}

header .info .child:nth-child(3) ul li {
  margin-right: 10px;
}

header .info .logo img {
  width: 220px;
}

header .navbar-nav {
  display: block;
  width: 100%;
  text-align: center;
}

header .navbar-nav .nav-item {
  display: inline-block;
}

header .navbar-nav .nav-item .nav-link {
  position: relative;
  display: inline-block;
  padding: 0 10px 10px;
  color: #d1b588;
}

header .navbar-nav .nav-item .nav-link span {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header .navbar-nav .nav-item .nav-link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  right: 0;
  left: 0;
  background: #90A08C;
  width: 0;
  height: 2px;
  margin: 0 auto;
  border-radius: 20px;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

header .navbar-nav .nav-item .nav-link.active {
  font-family: "yekan-bold";
  color: #90A08C;
}

header .navbar-nav .nav-item .nav-link.active span {
  top: -4px;
}

header .navbar-nav .nav-item .nav-link.active::after {
  width: 100%;
}

header .navbar-nav .nav-item .nav-link:hover {
  font-family: "yekan-bold";
  color: #90A08C;
}

header .navbar-nav .nav-item .nav-link:hover span {
  top: -4px;
}

header .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.home .slider-section {
  position: relative;
}

.home .slider-section #goDown img {
  width: 90px;
  margin-top: -46px;
  position: relative;
  z-index: 4;
}

.home .slider-section .control {
  position: absolute;
  bottom: 90px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

.home .slider-section .control button {
  display: inline-block;
  vertical-align: middle;
}

.home .slider-section .control ul {
  display: inline-block;
  vertical-align: middle;
}

.home .slider-section .control ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}

.home .slider-section .control ul li span {
  position: absolute;
  left: 0;
  right: 0;
  top: 21px;
  display: block;
  background: #fff;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.home .slider-section .control ul li svg {
  width: 50px;
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  visibility: hidden;
}

.home .slider-section .control ul li svg .circle {
  stroke: #90A08C;
}

.home .slider-section .control ul li.active span {
  background: #90A08C;
}

.home .slider-section .control ul li.active svg {
  visibility: visible;
}

.home .slider-section .control ul li.active svg .circle {
  -webkit-animation: slider 4s ease-in-out;
          animation: slider 4s ease-in-out;
}

.home .slider-section .slider {
  position: relative;
  height: 530px;
}

.home .slider-section .slider .slider-item {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.home .slider-section .slider .slider-item.d-block {
  opacity: 1;
  z-index: 1;
}

.home .slider-section .slider .slider-item .background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.home .slider-section .slider .slider-item .container {
  position: relative;
  z-index: 1;
}

.home .slider-section .slider .slider-item .container img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.home .slider-section .slider .slider-item h3 {
  color: #90A08C;
  margin-top: 140px;
  margin-bottom: 10px;
}

.home .slider-section .slider .slider-item p {
  color: #90A08C;
}

.home .slider-section .slider .slider-item .btn-more {
  font-size: 19px;
  color: #90A08C;
  text-decoration: underline;
  margin-top: 10px;
}

.home .slider-section .slider .slider-item .btn-more img {
  width: 10px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.home .slider-section .slider .slider-item .btn-more:hover {
  color: #798676;
}

.home .day-prices {
  margin: 30px 0;
}

.home .day-prices .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid #b7b7b7;
  border-radius: 20px;
  padding: 15px 15px 0;
}

.home .day-prices .box div {
  width: 50%;
  margin-bottom: 15px;
}

.home .day-prices .box .price {
  background: #EEEFED;
  padding: 5px;
  text-align: center;
}

.blog .blog-guide {
  display: none;
}

.blog .blog-guide .guide {
  margin: 30px 0;
  margin-bottom: -30px;
}

.blog .blog-guide .guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.blog .blog-guide .guide .guide-item::after {
  content: "/";
}

.blog .blog-guide .guide .guide-item:last-child::after {
  content: "";
}

.blog .blog-guide .guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.blog section {
  margin-top: 60px;
}

.blog section:first-child {
  margin: 0;
}

.blog section:last-child {
  margin-bottom: 50px;
}

.blog section p {
  font-size: 15px;
  color: #3F3F3F;
  display: block;
  text-align: justify;
}

.blog section .blog-intro {
  padding: 160px 0 120px;
  background-image: url("../images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog section .blog-intro h3 {
  margin: 0 0 30px;
  color: #3F3F3F;
}

.blog section .blog-intro p {
  width: 500px;
}

.blog section .blog-post img {
  width: 100%;
}

.customize section {
  margin: 0 0 70px;
}

.customize section .guide {
  margin-top: 100px;
  margin-bottom: -50px;
}

.customize section .guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.customize section .guide .guide-item::after {
  content: "/";
}

.customize section .guide .guide-item:last-child::after {
  content: "";
}

.customize section .guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.customize section .mobile-guide {
  display: none;
  margin-top: 100px;
  margin-bottom: -50px;
}

.customize section .mobile-guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.customize section .mobile-guide .guide-item::after {
  content: "/";
}

.customize section .mobile-guide .guide-item:last-child::after {
  content: "";
}

.customize section .mobile-guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.customize section .mobile-subject-items {
  display: none;
  margin: 0 auto;
  width: 500px;
}

.customize section .mobile-subject-items h1 {
  color: #90A08C;
  margin-bottom: 25px;
  padding-top: 120px;
}

.customize section .colections {
  position: relative;
  width: 85%;
  margin: 0 auto;
  top: 100px;
  padding-bottom: 60px;
}

.customize section .colections .center-line {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.customize section .colections .rectangle-1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 185px;
}

.customize section .colections .rectangle-2 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 585px;
}

.customize section .colections .rectangle-3 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 1085px;
}

.customize section .colections .rectangle-4 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 1595px;
}

.customize section .colections .rectangle-5 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 2095px;
}

.customize section .colections .colection-item p {
  width: 43%;
  text-align: right;
}

.customize section .colections .colection-item p.otherside-text {
  margin-left: 0;
  margin-right: auto;
}

.customize section .colections .colection-item .colection-img {
  margin-bottom: 35px;
}

.customize section .colections .colection-item .box-2 {
  margin-top: -80px;
}

.customize section .colections .colection-item .box-3 {
  margin-top: -80px;
}

.customize section .colections .colection-item .box-4 {
  margin-top: -80px;
}

.customize section .colections .colection-item .box-5 {
  margin-top: -50px;
}

.customize section .colections video {
  width: 100%;
  height: 500px;
  border-radius: 30px;
}

.customize section .colections .icon {
  position: absolute;
  bottom: 205px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 10%;
}

.customize section .colections .information-text {
  display: block;
  margin: 50px auto 0;
  color: #90A08C;
  width: 70%;
}

.customize section .colections h5 {
  margin-top: 50px;
  color: #EEEFED;
}

.customize section.subject {
  padding: 0 0 120px;
  position: relative;
}

.customize section.subject .subject-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.customize section.subject .subject-item {
  width: 40%;
}

.customize section.subject .subject-item h3 {
  margin: 30px 0;
  color: #3F3F3F;
}

.customize section.subject .subject-items {
  margin: 0 auto;
  width: 500px;
}

.customize section.subject .subject-items h1 {
  color: #90A08C;
  margin-bottom: 25px;
  padding-top: 120px;
}

.customize section .order-section {
  margin-top: 100px;
}

.customize section .order-section .price-img {
  width: 100%;
}

.customize section .order-section .price-item {
  list-style: none;
  border-bottom: 1px solid #BACCB6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0;
}

.customize section .order-section .price-item .input-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.customize section .order-section .price-item .input-group span {
  margin-right: 25px;
}

.customize section .order-section .price-item .input-group .input-group-text {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

.customize section .order-section .price-item .input-group .input-group-text .form-check-input {
  cursor: pointer;
  border-radius: 0;
  width: 1.2em;
  height: 1.2em;
}

.customize section .order-section .price-item .input-group .input-group-text .form-check-input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.customize section .order-section .price-item .input-group .input-group-text .form-check-input:checked {
  background-color: #3F3F3F;
  border-color: #3F3F3F;
}

.customize section .order-section .price-item img {
  margin-bottom: 18px;
}

.customize section .order-section .price-item:last-child {
  border-bottom: none;
}

.customize section .order-section .free-order-btn {
  background-color: #3F3F3F;
  display: block;
  width: 100%;
  padding: 22px 0;
  position: relative;
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

.customize section .order-section .free-order-btn:hover {
  background-color: rgba(0, 0, 0, 0.834);
}

.customize section .order-section .free-order-btn img {
  position: absolute;
  left: 35px;
  bottom: 13px;
}

.customize section .order-section .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

.customize section .order-section .contact span {
  display: block;
}

.customize section .order-section .contact span.text {
  margin: 20px 0;
}

.customize section .bottom-subject {
  position: relative;
}

.customize section .bottom-subject .bottom-subject-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.customize section .bottom-subject .subject-items {
  width: 45%;
}

.customize section .bottom-subject .subject-items h2 {
  color: #90A08C;
  padding: 130px 0 40px;
}

.customize section .bottom-subject .subject-items p {
  text-align: justify;
}

.gallery section p {
  color: #90A08C;
}

.gallery section .subject {
  padding: 0 0 120px;
  position: relative;
}

.gallery section .subject .subject-img {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.gallery section .subject .subject-item {
  width: 40%;
}

.gallery section .subject .subject-item h3 {
  margin: 30px 0;
  color: #3F3F3F;
}

.gallery section .subject .subject-text {
  margin: 0 auto;
  width: 500px;
}

.gallery section .subject .subject-text h1 {
  color: #90A08C;
  margin-bottom: 30px;
  padding-top: 230px;
}

.gallery section .guide {
  margin-bottom: -50px;
}

.gallery section .guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.gallery section .guide .guide-item::after {
  content: "/";
}

.gallery section .guide .guide-item:last-child::after {
  content: "";
}

.gallery section .guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.gallery section .info-section {
  margin-top: 120px;
}

.gallery section .info-section img {
  width: 90%;
}

.gallery section .info-section span {
  display: block;
  color: #90A08C;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.gallery section .info-section p {
  margin-bottom: 30px;
  text-align: justify;
}

.gallery section .details-section {
  margin-top: 200px;
  background-color: #F4F4F1;
}

.gallery section .details-section .detail-item span {
  color: #90A08C;
  font-size: 23px;
  margin-bottom: 45px;
  display: block;
}

.gallery section .details-section .detail-item p {
  color: #3F3F3F;
}

.gallery section .details-section .detail-item .detail-items {
  color: #90A08C;
  list-style: none;
  margin: 25px 0;
}

.gallery section .details-section .detail-item .detail-items::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #3F3F3F;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 20px;
}

.gallery section .details-section .detail-item .detail-items:first-child {
  margin-top: 65px;
}

.gallery section .details-section .detail-item .detail-items:last-child {
  margin-bottom: 65px;
}

.gallery section .details-section img {
  width: 100%;
}

.gallery section .gallery-icon {
  margin-top: 100px;
}

.gallery section .gallery-icon .information-text {
  display: block;
  margin: 50px auto 0;
  color: #90A08C;
  width: 70%;
}

.gallery section .gallery-icon h5 {
  margin-top: 50px;
  color: #EEEFED;
}

.gallery section .slider-section {
  margin-top: 100px;
}

.gallery section .slider-section .slider-btn span {
  color: #90A08C;
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

.gallery section .slider-section .slider-btn .icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: 2px solid rgba(0, 0, 0, 0.578);
  border-radius: 50%;
  margin: 0 30px;
}

.gallery section .slider-section .slider-btn .icon img {
  width: 10px;
  height: 20px;
  margin-top: 10px;
  color: #000;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.gallery section .slider-section .slider-btn .icon:hover {
  border: 2px solid #000;
}

.gallery section .slider-section .slider-btn .icon:hover img {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.gallery section .explain-present {
  margin-top: 250px;
  width: 500px;
}

.gallery section .explain-present p {
  color: #000;
}

.gallery section .bottom-subject {
  margin-top: 100px;
}

.gallery section .bottom-subject .bottom-subject-img {
  width: 100%;
}

.present section .present-intro {
  padding: 160px 0 120px;
  background-image: url("../images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.present section .present-intro .intro-text {
  width: 600px;
  margin-right: auto;
  margin-left: 0;
}

.present section .present-intro .intro-text h3 {
  margin: 0 0 30px;
  color: #90A08C;
}

.present section .present-intro .intro-text p {
  color: #90A08C;
  text-align: center;
}

.present section .present-guide {
  display: none;
}

.present section .present-guide .guide {
  margin: 30px 0;
  margin-bottom: -30px;
}

.present section .present-guide .guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.present section .present-guide .guide .guide-item::after {
  content: "/";
}

.present section .present-guide .guide .guide-item:last-child::after {
  content: "";
}

.present section .present-guide .guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.present section .present-section {
  margin-top: 120px;
}

.present section .present-section img {
  width: 90%;
}

.present section .present-section .box {
  width: 85%;
}

.present section .present-section .box span {
  display: block;
  color: #90A08C;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.present section .present-section .box p {
  margin-bottom: 30px;
  text-align: center;
}

.present section .present-checkbox {
  margin-top: 150px;
}

.present section .present-checkbox img {
  width: 100%;
  margin-bottom: 35px;
}

.present section .present-checkbox span {
  color: #3F3F3F;
  display: block;
  margin-bottom: 40px;
}

.present section .present-checkbox .input-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.present section .present-checkbox .input-group .input-group-text {
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 4px 4px;
}

.present section .present-checkbox .input-group .input-group-text input {
  border-radius: 50%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background-image: none;
}

.present section .present-checkbox .input-group .input-group-text input:checked {
  background-color: #90A08C;
}

.present section .explain-present {
  margin-top: 100px;
  width: 500px;
}

.present section .explain-present p {
  color: #000;
}

.present .order {
  margin: 0 auto;
  background-color: #3F3F3F;
}

.newstyle section .newstyle-intro {
  margin-top: 50px;
}

.newstyle section .newstyle-intro .header-text {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #90A08C;
  display: block;
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 12px;
  margin: 60px auto 90px;
  text-align: center;
  border-bottom: 1px solid #baccb6;
}

.newstyle section .newstyle-intro .text-border {
  width: 70%;
  height: 1px;
  background-color: #90A08C;
  margin-right: 30px;
  margin-bottom: 100px;
}

.newstyle section .newstyle-intro .text-border-green {
  width: 100%;
  height: 1px;
  background-color: #90A08C;
  margin-bottom: 20px;
}

.newstyle section .newstyle-intro .item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
}

.newstyle section .newstyle-intro .item-box .explainesion {
  color: #90A08C;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.newstyle section .newstyle-intro .item-box .order-btn {
  display: inline-block;
  background: #3F3F3F;
  padding: 10px 20px;
}

.newstyle section .newstyle-intro .item-box .order-btn button {
  color: #fff;
}

.newstyle section .newstyle-intro .item-box .order-btn button::after {
  content: url("../images/Vector.svg");
  display: inline-block;
  margin-right: 10px;
  vertical-align: text-top;
}

.newstyle section .newstyle-intro .item-box .order-btn:hover {
  background-color: #000;
}

.newstyle section .newstyle-intro .item-box .shop-btn {
  background-color: #3F3F3F;
  padding: 3.3px 5px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: 0.7px;
}

.newstyle section .newstyle-intro .item-box .shop-btn button {
  padding-top: 7px;
}

.newstyle section .newstyle-intro .item-box .shop-btn:hover {
  background-color: #000;
}

.newstyle section .newstyle-intro .item-box .price {
  color: #3F3F3F;
  margin-right: 10px;
}

.newstyle section .newstyle-intro .style-guide {
  margin-bottom: 50px;
}

.newstyle section .newstyle-intro .style-guide .guide-item {
  list-style: none;
  display: inline-block;
  color: #BACCB6;
}

.newstyle section .newstyle-intro .style-guide .guide-item::after {
  content: "/";
}

.newstyle section .newstyle-intro .style-guide .guide-item:last-child::after {
  content: "";
}

.newstyle section .newstyle-intro .style-guide .guide-item a {
  color: #BACCB6;
  display: inline-block;
}

.newstyle section .newstyle-intro .style-guide .guide-item a:hover {
  color: #90A08C;
}

.newstyle section .newstyle-intro .slider {
  width: 100%;
}

.newstyle section .newstyle-intro .slider-section {
  position: relative;
}

.newstyle section .newstyle-intro .slider-section .control {
  position: absolute;
  bottom: 30px;
  right: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

.newstyle section .newstyle-intro .slider-section .control button {
  display: inline-block;
  vertical-align: middle;
}

.newstyle section .newstyle-intro .slider-section .control ul {
  display: inline-block;
  vertical-align: middle;
}

.newstyle section .newstyle-intro .slider-section .control ul li {
  position: relative;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
}

.newstyle section .newstyle-intro .slider-section .control ul li span {
  position: absolute;
  left: 0;
  right: 0;
  top: 21px;
  display: block;
  background: #fff;
  width: 8px;
  height: 8px;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.newstyle section .newstyle-intro .slider-section .control ul li svg {
  width: 50px;
  margin: 0 auto;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  visibility: hidden;
}

.newstyle section .newstyle-intro .slider-section .control ul li svg .circle {
  stroke: #90A08C;
}

.newstyle section .newstyle-intro .slider-section .control ul li.active span {
  background: #90A08C;
}

.newstyle section .newstyle-intro .slider-section .control ul li.active svg {
  visibility: visible;
}

.newstyle section .newstyle-intro .slider-section .control ul li.active svg .circle {
  -webkit-animation: slider 4s ease-in-out;
          animation: slider 4s ease-in-out;
}

.newstyle section .newstyle-intro .slider-section .slider {
  position: relative;
  height: 800px;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item.d-block {
  opacity: 1;
  z-index: 1;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .container {
  position: relative;
  z-index: 1;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .container img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item h3 {
  color: #90A08C;
  margin-top: 140px;
  margin-bottom: 10px;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item p {
  color: #90A08C;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .btn-more {
  font-size: 19px;
  color: #90A08C;
  text-decoration: underline;
  margin-top: 10px;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .btn-more img {
  width: 10px;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}

.newstyle section .newstyle-intro .slider-section .slider .slider-item .btn-more:hover {
  color: #798676;
}

.newstyle section .details-section {
  margin-top: 130px;
  background: #f4f4f1;
}

.newstyle section .details-section .detail-item {
  padding-top: 50px;
}

.newstyle section .details-section .detail-item span {
  color: #90A08C;
  font-size: 23px;
  margin-bottom: 45px;
  display: block;
}

.newstyle section .details-section .detail-item p {
  color: #3F3F3F;
}

.newstyle section .details-section .detail-item .detail-items {
  list-style: none;
  margin: 25px 0;
}

.newstyle section .details-section .detail-item .detail-items a {
  color: #90A08C;
}

.newstyle section .details-section .detail-item .detail-items a:hover {
  color: #798676;
}

.newstyle section .details-section .detail-item .detail-items::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #3F3F3F;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 20px;
}

.newstyle section .details-section .detail-item .detail-items:first-child {
  margin-top: 65px;
}

.newstyle section .details-section .detail-item .detail-items:last-child {
  margin-bottom: 65px;
}

.newstyle section .details-section img {
  max-width: 100%;
  height: 100%;
}

.newstyle section .gallery-icon {
  margin-top: 100px;
}

.newstyle section .gallery-icon .information-text {
  display: block;
  margin: 20px auto 0;
  color: #90A08C;
  width: 70%;
}

.newstyle section .gallery-icon h5 {
  margin-top: 30px;
  color: #90a08c;
  font-weight: 400;
}

.collection-page section .present-intro {
  padding: 160px 0 120px;
  background-image: url("../images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collection-page section .present-intro .intro-text {
  width: 600px;
  margin: 40px auto 0;
}

.collection-page section .present-intro .intro-text h3 {
  margin: 0 0 30px;
  color: #90A08C;
}

.collection-page section .present-intro .intro-text p {
  color: #90A08C;
  text-align: center;
}

.collection-page section .present-section {
  margin-top: 120px;
}

.collection-page section .present-section img {
  width: 90%;
}

.collection-page section .present-section .box {
  width: 85%;
}

.collection-page section .present-section .box span {
  display: block;
  color: #90A08C;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 25px;
}

.collection-page section .present-section .box p {
  margin-bottom: 30px;
  text-align: justify;
  color: #90A08C;
  font-size: 16px;
}

.collection-page section .details-section {
  margin-top: 130px;
  background-color: #F4F4F1;
}

.collection-page section .details-section .detail-item {
  padding-right: 30px;
}

.collection-page section .details-section .detail-item span {
  color: #90A08C;
  font-size: 23px;
  margin-bottom: 45px;
  display: block;
}

.collection-page section .details-section .detail-item p {
  color: #3F3F3F;
}

.collection-page section .details-section .detail-item .detail-items {
  color: #90A08C;
  list-style: none;
  margin: 25px 0;
}

.collection-page section .details-section .detail-item .detail-items::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #3F3F3F;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: 20px;
}

.collection-page section .details-section .detail-item .detail-items:first-child {
  margin-top: 65px;
}

.collection-page section .details-section .detail-item .detail-items:last-child {
  margin-bottom: 65px;
}

.collection-page section .details-section img {
  width: 100%;
}

.item-blog section .item-blog-intro {
  margin-top: 80px;
}

.item-blog section .item-blog-intro .blog-details-img {
  width: 100%;
  margin: 20px 0;
}

.item-blog section .item-blog-intro .blog-details {
  margin-right: 50px;
}

.item-blog section .item-blog-intro .blog-details h3 {
  color: #3F3F3F;
  margin-bottom: 25px;
}

.item-blog section .item-blog-intro .blog-details p {
  color: #3F3F3F;
  text-align: justify;
  margin-bottom: 15px;
}

.item-blog section .item-blog-intro .blog-details a {
  color: #90A08C;
}

.item-blog section .item-blog-intro .blog-details a button {
  color: #90A08C;
  font-size: 20px;
  border-bottom: 1px solid #90A08C;
  padding-bottom: 10px;
}

.item-blog section .item-blog-intro .blog-details a::after {
  content: ">";
  margin-right: 10px;
}

.item-blog section .item-blog-intro .blog-intro-icon {
  display: block;
}

.item-blog section .item-blog-intro .blog-intro-icon img {
  vertical-align: middle;
  margin: 10px 0;
  margin-left: 7px;
  margin-right: 100px;
}

.item-blog section .item-blog-intro .blog-intro-icon .time {
  color: #90A08C;
}

.item-blog section .blog-item-intro {
  margin-top: 100px;
  padding: 160px 0 120px;
  background-image: url("../images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-blog section .blog-item-intro .intro-text {
  width: 600px;
  margin: 40px auto 0;
}

.item-blog section .blog-item-intro .intro-text h3 {
  margin: 0 0 30px;
  color: #3F3F3F;
}

.item-blog section .blog-item-intro .intro-text p {
  color: #3F3F3F;
  text-align: center;
}

.item-blog section .down-arrow {
  margin-top: 200px;
}

.item-blog section a {
  display: block;
}

.item-blog section a .btn-primary {
  margin: 30px 0;
  padding: 10px 85px;
}

.story section .story-intro {
  margin-top: 100px;
  position: relative;
}

.story section .story-intro .intro-img {
  width: 100%;
  padding-right: 100px;
}

.story section .story-intro .bottom-squre {
  position: absolute;
  bottom: -90px;
  right: 120px;
}

.story section .story-intro .intro-item .top-squre {
  position: absolute;
  z-index: 1;
  left: 300px;
  top: 250px;
}

.story section .story-intro .intro-item .story-introduction {
  background-color: #FBFBFA;
  padding: 40px 60px;
  position: absolute;
  left: 250px;
  width: 600px;
  bottom: 200px;
}

.story section .story-intro .intro-item .logo {
  position: absolute;
  width: 340px;
  bottom: 120px;
}

.story section .story-intro .intro-icon {
  position: absolute;
  margin: 0 auto;
  right: 0;
  left: 0;
  bottom: -250px;
}

.story section .story-information {
  margin-top: 320px;
  padding: 160px 0 200px;
  background-image: url("../images/story-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.story section .story-information h3 {
  margin: 0 0 30px;
  color: #3F3F3F;
  font-weight: 800;
}

.story section .story-information p {
  width: 600px;
  margin: 0 auto;
}

.story section .story-information .down-icon {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.story section .story-information .circle {
  position: absolute;
  top: -31.5px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: -1;
}

.story section .story-information .number {
  margin-top: 50px;
}

.story section .story-information .poco {
  position: absolute;
  left: 230px;
  bottom: -137px;
}

.story section .story-details {
  position: relative;
  padding-bottom: 60px;
}

.story section .story-details .center-line {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -350px;
}

.story section .story-details .rectangle-1 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: -350px;
}

.story section .story-details .rectangle-2 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 235px;
}

.story section .story-details .rectangle-3 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 735px;
}

.story section .story-details .rectangle-4 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 1245px;
}

.story section .story-details .rectangle-5 {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  top: 1735px;
}

.story section .story-details .details-item {
  margin-top: 250px;
}

.story section .story-details .details-item .text {
  padding-right: 45px;
  padding-left: 170px;
}

.story section .story-details .details-item .text p {
  text-align: justify;
  margin-top: 25px;
}

.story section .announced-section {
  background-color: #FBFBFA;
  position: relative;
  margin-top: 200px;
}

.story section .announced-section img {
  width: 100%;
}

.story section .announced-section .announced-item {
  padding: 0 80px;
}

.story section .announced-section .announced-item .icon {
  position: absolute;
  top: -90px;
  right: 180px;
  width: auto;
}

.story section .announced-section .announced-item h3 {
  margin-bottom: 20px;
}

.story section .announced-section .announced-item p {
  text-align: justify;
}

.story section .question-section {
  margin: 100px auto;
  width: 60%;
}

.story section .question-section h3 {
  margin-bottom: 30px;
}

.story section .question-section .accordion-item {
  background-color: #EEEFED;
  border-radius: 10px;
  margin-bottom: 2px;
}

.story section .question-section .accordion-item .accordion-header .accordion-button {
  border-radius: 10px;
  -webkit-box-shadow: 0px 7px 6px -5px #6a6a6a;
          box-shadow: 0px 7px 6px -5px #6a6a6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 45px;
}

.story section .question-section .accordion-item .accordion-header .accordion-button img {
  width: 25px;
}

.story section .question-section .accordion-item .accordion-header .accordion-button::after {
  display: none;
}

.story section .question-section .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: 0px 7px 6px -5px #6a6a6a;
          box-shadow: 0px 7px 6px -5px #6a6a6a;
}

.story section .question-section .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #000;
  background-color: #fff;
}

.story section .question-section .accordion-item .accordion-header .accordion-button:not(.collapsed) img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.story section .question-section .accordion-item .accordion-body {
  padding: 40px 60px;
  line-height: 25px;
}

.contact hr {
  margin-top: 150px;
}

.contact section .blog-intro {
  padding: 160px 0 160px;
  background-image: url("../images/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact section .blog-intro h3 {
  margin: 0 0 30px;
  color: #3F3F3F;
  font-weight: 800;
}

.contact section .blog-intro p {
  width: 600px;
  margin: 0 auto;
}

.contact section .blog-intro .circle {
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: -1;
}

.contact section .blog-intro .down-icon {
  position: absolute;
  bottom: -35px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.contact section .contact-item {
  margin-top: 150px;
}

.contact section .contact-item .contact-info {
  padding: 0 100px;
}

.contact section .contact-item .contact-info p {
  margin-bottom: 50px;
  text-align: justify;
}

.contact section .contact-item .contact-info img {
  vertical-align: middle;
  margin: 15px 0;
  margin-left: 25px;
}

.contact section .blog-finall {
  padding: 50px 0 60px;
}

.contact section .blog-finall h3 {
  margin: 0 0 30px;
  color: #3F3F3F;
  font-weight: 800;
}

.contact section .blog-finall p {
  width: 600px;
  margin: 0 auto 50px;
}

.contact section .blog-finall img {
  vertical-align: middle;
  margin: 15px 0;
  margin-right: 80px;
}

.contact section .blog-finall span {
  color: #90A08C;
}
/*# sourceMappingURL=style.css.map */